.user-background {
  @include default_bgimg("../images/beijing_01.png");
  height: 340px;
  position: relative;
  background-size: 100%;
  background-position: center;
  span {
    @include element_vertical_middle();
    top: inherit;
    @include default_bgimg("../images/background-1.png", -1118px -381px);
    width: 170px;
    height: 100px;
  }
}

.user-options {

  > ul {
    width: 200px;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    li {
      float: left;
      width: 60px;
      height: 20px;
      color: #B3AFAF;
      cursor: pointer;
      font-size: 1.3em;
      line-height: 20px;
      text-align: center;
      border-right: 1px solid #B6B6B6;
    }
    a{
      width: 100%;
      height: 100%;
      color: inherit;
      display: inline-block;
    }
    li:last-child {
      border-right: inherit;
    }
    &:after {
      @extend .container;
    }
  }
}

.user-login-btn{
  height: 30px;
  padding: 0 15px;
  cursor: pointer;
  font-size: $default_font_size1;
  line-height: 30px;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #C6C6C6;
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
}

.user-select {
  color: #000 !important;
}

.user-after{
  padding: 10px;
  box-sizing: border-box;
}

.user-checkbox {
  margin: 10px 0 0 0;
  text-align: center;
  input {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    vertical-align: middle;
  }
}

.div-tool,
.user-after,
.user-input-code,
.user-input-user,
.user-input-mobile,
.user-input-bMobile,
.user-input-password2,
.user-input-password {
  width: 315px;
  margin: 0 auto;
  position: relative;
}

div.user-login-input,
div.user-forget-input,
div.user-register-input {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  .user-input {
    text-align: center;
    input {
      width: 260px;
      height: 35px;
      margin-top: 15px;
      font-size: 1.3em;
      text-indent: 2em;
      background-color: #E7E7E7;
    }
    > input {
      display: block;
      margin: 0 auto;
      margin-top: 15px;
    }
    input {
      width: 300px;
      height: 35px;
      box-sizing: border-box;
    }
    img {
      vertical-align: middle;
    }
  }

  .user-input-code {
    margin: 0 auto;
    text-align: left;
    input {
      width: 150px;
      margin-right: 25px;
    }
  }
  .user-input-box{
    width: 300px;
    margin: 0 auto;
    input{
      margin-right: 10px;
    }
    span{
      display: inline-block;
    }
  }
  .help-block{
    top: 25px;
    width: 450px;
    right: -465px;
    text-align: left;
    font-weight: bold;
    position: absolute;
    padding-left: 15px;
    color: $default_font_color1;
    font-size: $default_font_size3;
  }

  .help-block2{
    top: 15px;
    width: 450px;
    right: -465px;
    text-align: left;
    font-weight: bold;
    position: absolute;
    padding-left: 15px;
    color: $default_font_color1;
    font-size: $default_font_size3;
  }
}

.user-input-bMobile{
  text-align: left;
  padding: 15px 0 0 15px;
}

.user-input {
  width: 100%;
  overflow: hidden;
}

.user-option,
.user-input-left,
.user-input-right {
  &:after {
    @extend .container;
  }
}

.user-input-left {
  float: left;
}

.user-input-right {
  float: right;
}

.user-option {
  margin-top: 10px;
  ul {
    text-align: center;
    li {
      display: block;
      vertical-align: middle;
      h2 ,
      button{
        border: 0;
        color: #A3A0A0;
        cursor: pointer;
        font-size: 1.9em;
        letter-spacing: 1px;
        display: inline-block;
        background-color: inherit;
      }
    }
  }
}

.div-tool {
  h2,
  button{
    width: 300px;
    padding: 10px 0;
    cursor: pointer;
    font-size: 1.3em;
    margin: 10px auto;
    text-align: center;
    @include radius(4px);
    background-color: inherit;
    border: 1px solid $default_input_font_color;
  }
  h2:active{
    border-color: $default_background_color1;
  }
}