.myself-container {
  @include page-header(-1129px, -514px, -1006px, -517px);
  > section {
    @include horizontal-page-width(1000px);
    margin-top: 50px;
  }
  margin-bottom: 50px;
}

.myself-section {
  > header {
    @include common_input();
  }
}

.myself-table {
  li {
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .myself-table-ul {
    display: inline-block;
    li {
      width: 60px;
      float: left;
      padding: 0 40px;
      font-size: 1.3em;
    }
    &:after {
      @extend .container;
    }
  }
}

.myself-context {

  > div,
  .myself-context-info {
    float: left;
  }
  .myself-context-info {
    width: 150px;
    float: right;
    padding: 3px;
    margin-top: 30px;
    background-color: #fff;
  }
  > div {
    width: 763px;
  }
  .myself-context-info {
    h3,
    h2,
    > div {
      color: #000;
      margin: 5px 0px;
      padding-left: 6px;
    }
    h2 {
      font-size: 1.7em;
      font-weight: bold;
    }
    h3 {
      font-size: 1.2em;
    }
    strong {
      width: 60px;
      color: #fff;
      height: 18px;
      @include radius(3px);
      line-height: 18px;
      text-align: center;
      letter-spacing: 1px;
      display: inline-block;
      background-color: #F05A5A;
      font-size: $default_font_size2;
    }
    img {
      width: 150px;
      height: 110px;
    }
  }
  &:after, > div, .myself-context-info {
    @extend .container;
  }
}

.myself-context-info {
  > div {
    height: 20px;
    overflow: hidden;
    strong, span {
      float: left;
    }
    span {
      width: 15px;
      height: 20px;
      display: inline-block;
      @include default_bgimg("../images/background-1.png", -105px -193px);
    }
  }
  ul {
    li {
      height: 40px;
      color: #949292;
      cursor: pointer;
      font-size: 1.4em;
      font-weight: bold;
      line-height: 40px;
      text-align: center;
      margin-bottom: 5px;
      background-color: #F9F9F9;
    }
    a {
      width: 100%;
      height: 100%;
      color: inherit;
      display: inline-block;
    }
    li:nth-of-type(2n) {
      background-color: inherit;
    }
  }
  &:after {
    @extend .container;
  }
}

.myself-lately-spit,
.myself-lately-share,
.myself-lately-questions,
.myself-lately-browse {
  margin: 0 0 15px 0;
  position: relative;
  > h2 {
    height: 30px;
    width: 130px;
  }
  footer {
    @include product-layout5-footer();
  }
  > div {
    background-color: #ddd;
    padding: 5px 10px 10px 10px;
  }
  li:last-child {
    margin-right: 0;
  }
}

.myself-lately-browse {
  > h2 {
    @include default_bgimg("../images/background-1.png", -798px -11px);
  }
  @include product-layout1(inherit, 100%, static, 0, 263px, visible, 0, 170px, 143px, 1.3em, 233px, 1.7em);
}

.myself-lately-share {
  > h2 {
    @include default_bgimg("../images/background-1.png", -798px -56px);
  }
  @include product-layout2-share(auto, hidden, 6px 25px 0 1px);
  li:last-child {
    margin-right: 0;
  }
}

.myself-lately-spit,
.myself-lately-questions {
  float: left;
  width: 360px;
  height: 190px;
  footer {
    left: 0;
    right: 0;
    bottom: 20px;
    position: absolute;
  }
  > div {
    height: 155px;
    position: relative;
    background-color: #ddd;
  }
}

.myself-lately-questions {
  margin-right: 20px;
  > h2 {
    @include default_bgimg("../images/background-1.png", -798px -185px);
  }

  @include product-layout3-question();

  margin-top: 0;
  background-color: inherit;
}

.myself-lately-spit {
  margin-left: 20px;
  > h2 {
    width: 170px;
    @include default_bgimg("../images/background-1.png", -977px -9px);
  }
  @include product-layout4-spit();

  margin-top: 0;
}

.myself-shade-context {
  header {
    height: 30px;
    h2 {
      height: 100%;
      width: 130px;
    }
    .myself-header-logo {
      width: 170px;
      height: 100%;
      margin-left: 10px;
      display: inline-block;
      background: url("../images/background-1.png") no-repeat;
    }
    h3 {
      top: 0;
      right: 0;
      width: 30px;
      color: #FFF;
      height: 30px;
      font-size: 1.5em;
      text-align: center;
      position: absolute;
      line-height: 30px;
      background-color: #6F6F6F;
    }
  }
}

.myself-shade-info {
  height: 95%;
  padding-left: 10px;
  box-sizing: border-box;
  .myself-shade-group {
    height: 95%;
    overflow-y: auto;
  }
}

.myself-shade-share {
  @include product-layout2-share(auto, hidden, 6px 15px 0 1px);
  li {
    width: 170px;
  }
  li:nth-of-type(4n) {
    margin-right: 0;
  }
  li:nth-of-type(n+5) {
    margin-top: 10px;
  }
}

.myself-shade-questions {
  margin-right: 5px;
  > h2 {
    @include default_bgimg("../images/background-1.png", -798px -185px);
  }

  @include product-layout3-question();

  margin-top: 0;
  background-color: inherit;
}

//密码
.myself-account-info {
  > nav {
    text-align: center;
  }
  footer {
    margin-top: 35px;
    button {
      color: #fff;
      height: 35px;
      width: 100px;
      border: none;
      cursor: pointer;
      font-weight: bold;
      margin-right: 10px;
      @include radius(4px);
      @include botton_backgroung_img(#EE7A7A, #EB5454);
    }
    button:active {
      @include botton_backgroung_img(#E3C1C1, #D4ABAB);
    }
    a {
      color: $default_font_color3;
    }
  }
}

.myself-account-centext {
  > ul {
    font-size: 1.2em;
    padding: 50px 0 0 250px;
  }
}

.myself-account-password {
  padding: 50px;
  text-align: center;
  ul {
    li {
      font-size: 1.2em;
      margin-bottom: 20px;
    }
  }
  > div {
    a {
      color: $default_font_color3;
    }
  }
}

.myself-account-bind {
  > div {
    margin-top: 20px;
  }
}

.myself-account-logo {
  margin-top: 50px;
  > div {
    text-align: center;
  }
  > footer {
    button {
      width: 200px;
      font-size: 1.4em;
      margin-bottom: 20px;
    }
    text-align: center;
  }
}

.myself-order {
  header {
    height: 30px;
    select {
      height: 100%;
      width: 200px;
      display: inline-block;
    }
  }
  .myself-order-table {
    @include table(255px, 101px, #DED9D9);
    .myself-order-btn {
      height: 25px;
      display: inline-block;
      width: auto;
      cursor: pointer;
      line-height: 20px;
      margin-right: 5px;
      text-align: center;
      padding-left: 11px;
      letter-spacing: 10px;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      box-sizing: border-box;
      border: 1px solid #B7B7B7;
    }
  }
}

.myself-table-log {
  @include table2(5, #DED9D9);
}

.myself-order,
.myself-cookbook-list,
.myself-favorite-context {
  > footer {
    height: 50px;
    padding-top: 20px;
  }
}

.myself-money-table {
  @include table1(3, #DED9D9);
}

.myself-table-coupon {
  @include table3(#DED9D9, 10%, 21%, 5%, 5%, 21%, 19%, 19%);
}

.myself-money,
.myself-coupon,
.myself-favorite,
.myself-account-info {
  padding-top: 30px !important;
}

.myself-favorite {
  > header {
    margin-bottom: 20px;
    h2 {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 5px;
    }
    > div {
      overflow: hidden;
      margin-bottom: 5px;
    }
    select {
      width: 70px;
      float: left;
      margin-right: 10px;
      &:after {
        @extend .container;
      }
    }
    &:after {
      @extend .container;
    }
  }
  .myself-favorite-table {
    @include table2(2, #DED9D9, 30%);
    > li:nth-of-type(2n-1) {
      background-color: #E1E1E1;
    }
  }
}

.myself-cookbook {
  .myself-list-table {
    @include table2(1, #DED9D9, 40%, 20%);
  }
  .myself-list-oneLine {
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    > span, > div {
      float: right;
    }
    > span {
      display: block;
      color: #636262;
      margin-right: 40px;
    }
    &:after {
      @extend .container;
    }
  }
}

.myself-cookbook-one {
  padding-bottom: 10px;
  p {
    font-size: 1.3em;
  }
  > div {
    a {
      margin-top: 5px;
      padding: 3px;
      display: inline-block;
      border: 1px solid #B7B7B7;
    }
  }
}

.myself-article-table {
  @include table4(2, 5, #DED9D9, 30%, 30%, 13%);
}

.myself-order-info {
  .myself-order-after {
    padding: 0 3px 3px 3px;
    box-sizing: border-box;
    @include table2(3, #DED9D9, 60%, 20%);
  }

}

.myself-order-header {
  height: 30px;
  line-height: 30px;
  li {
    float: left;
    color: #B6B6B6;
    font-size: 1.4em;
    margin-right: 7px;
    a {
      color: $default_font_color3;
    }
  }
  &:after {
    @extend .container;
  }
}

.myself-order-product {
  @include table2(2, #DED9D9, 40%, 20%);
  img {
    width: 60px;
    height: 60px;
    padding: 3px;
    margin: 0;
    border: 1px solid #f0f0f0;
    overflow: hidden;
  }
}

.myself-order-data {
  @include table4(2, 3, #DED9D9, 20%, 20%, 10%);
}

.myself-recommend {
  background-position: -638px -55px !important;
}

.myself-comment-info {
  height: 395px;
  padding-top: 8px;
  overflow: hidden;
  text-align: center;
  position: relative;
  > ul {
    width: 1000%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .myself-one-commont {
    float: left;
    width: 235px;
    height: 100%;
    overflow: hidden;
    margin-right: 25px;
    margin-bottom: 2px;
    box-sizing: border-box;
    box-shadow: $default_box_shadow1;
    &:last-child {
      margin-right: 0;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .myself-one-img {
    width: 100%;
    height: 200px;
    position: relative;
    small {
      right: 15px;
      bottom: 10px;
      color: #fff;
      font-weight: bold;
      position: absolute;
    }
  }
}

.myself-one-context {
  height: 200px;
  padding: 10px;
  background-color: #fff;
  box-sizing: border-box;
  > h2 {
    height: 30px;
    text-align: left;
    font-size: 1.6em;
    line-height: 30px;
    font-weight: bold;
    strong {
      margin-right: 10px;
    }
    span {
      width: 15px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      @include default_bgimg("../images/background-1.png", -105px -193px);
    }
  }
  > div {
    width: 100%;
    height: 120px;
    display: table;
    padding: 0 20px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #ddd;
    p{
      color: #6A6A6A;
      display: table-cell;
      vertical-align: middle;
    }
  }
  >footer{
    height: 28px;
    line-height: 28px;
    span{
      width: 10px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
    }
    .myself-look-com{
      span{
        @include default_bgimg("../images/background-1.png", -695px -182px);
      }
    }
    .myself-delete-com{
      span{
        @include default_bgimg("../images/background-1.png", -643px -182px);
      }
    }
    a{
      float: left;
      display: inline-block;
      &:last-child{
        float: right;
      }
    }
  }
}

.myself-comment{
  > footer{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    span{
      width: 50px;
      height: 100%;
      cursor: pointer;
      display: inline-block;
    }
    .myself-footer-left{
      margin-right: 40px;
      @include default_bgimg("../images/background-1.png", -618px -112px);
    }
    .myself-footer-right{
      @include default_bgimg("../images/background-1.png", -680px -112px);
    }
  }
}

