.pview-container {
  @include page-header(-786px, -690px);
  > header {
    left: 0;
  }
}

.pview-order-info,
.pview-order-context{
  @include horizontal-page-width();
}

.pview-order-info,
.pview-order-context{
  margin-top: 5px;
  position: relative;
  background-color: #ffffff;
  header {
    height: 18px;
    padding: 5px;
    overflow: hidden;
    line-height: 18px;
    position: relative;
    background-color: #ddd;
    h2 {
      font-size: 1.2em;
      margin-left: 10px;
    }
    &:after {
      @extend .container;
    }
  }
}

.pview-order-context {
  margin-top: 100px;
  header h2,
  header > div {
    display: inline-block;
    vertical-align: middle;
  }
  header > div {
    right: 30px;
    position: absolute;
    color: $result_header1_color;
  }
  header {
    span {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      @include default_bgimg("../images/background-1.png", -115px -84px);
    }
  }
}