$product-li-height: 68px;
$product-margin-left: 8px;
$product-p-font-size: 1.3em;
$product-margin-bottom: 15px;
/*---------------------------------------------------
 *--product 初始化结构
 *---------------------------------------------------*/
@mixin product_p {
  color: #887E7E;
  line-height: 1.6;
  padding: 5px 0 10px 0;
  font-size: $default_font_size1;
}

@mixin product_time_position {
  top: 0;
  right: 0;
  position: absolute;
}

@mixin product_li_style {
  top: 1px;
  right: -1px;
  position: relative;
  box-shadow: $default_box_shadow1;
}

@mixin product_aside_style {
  width: 276px;
  padding-left: 10px;
}

@mixin product_textarea {
  border: 0;
  width: 301px;
  height: 62px;
  resize: none;
  outline: none;
  padding-top: 15px;
  overflow-y: hidden;
  margin: 0;
  font-size: 1.3em;
  padding-left: 10px;
  @include radius(3px);
  box-sizing: border-box;
  box-shadow: $default_box_shadow;
}

/*---------------------------------------------------
 *  product 左边图部分
 *---------------------------------------------------*/
.product-cont-left,
.product-cont-right {
  float: left;
  //  height: 100%;
  &:after {
    @extend .container;
  }
}

.product-cont-left {
  width: 100%;
  overflow: hidden;
  margin-left: -400px;
  box-sizing: border-box;
}

.product-cont-right {
  width: 400px;
  position: relative;
}

.product-cont-footer {
  bottom: 0;
  width: 95%;
  right: 15px;
  height: 145px;
  position: absolute;
  > h2 {
    top: -20px;
    z-index: 89;
    width: 100%;
    height: 35px;
    position: absolute;
    display: inline-block;
  }
  .product-title {
    right: 0;
    top: 3px;
    height: 22px;
    width: 200px;
    position: absolute;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    h2, h3 {
      width: 50%;
      color: #fff;
      float: left;
      height: 100%;
      padding: 5px 0 0 20px;
      display: inline-block;
      box-sizing: border-box;
    }
    .product-title-reply {

    }
    &:after {
      @include left_superscript();
    }
    h2, h3 {
      @extend .container;
    }
  }
  &:after, > h2 {
    @extend .container;
  }
}

.product-cont-context {
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-left: 400px;
  > img {
    width: 100%;
    max-height: 765px;
  }

  @include page-header;

  .product-shop {
    height: 35px;
    width: 300px;
    position: relative;
    display: inline-block;
    background-color: rgba(238, 91, 94, 1);
    span {
      width: 195px;
      height: 100%;
      display: inline-block;
      @include default_bgimg("../images/background-1.png", -1212px -269px);
    }
    h2 {
      right: 0;
      height: 100%;
      cursor: pointer;
      width: 285-165px;
      position: absolute;
      display: inline-block;
      @include default_bgimg("../images/background-1.png", -1110px -336px);
    }
  }
}

.product-foot {
  right: 0;
  width: 99%;
  z-index: 88;
  bottom: 15px;
  height: 125px;
  overflow: hidden;
  padding-left: 20px;
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  > ul {
    float: left;
    width: 355px;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    li {
      width: 85px;
      float: left;
      height: 100%;
      opacity: 0.5;
      padding: 20px 2px;
      box-sizing: border-box;
    }
  }

  img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    @include radius(3px);
  }

  .product-foot-select {
    width: 95px;
    opacity: 1;
    padding: 15px 2px;
  }

  &:after, > ul, > li {
    @extend .container;
  }
}

.product-foot-info {
  @include product-layou6-table();
}

/*---------------------------------------------------
 *  product 右边内容部分
 *---------------------------------------------------*/
.product-cont-right {
  background-color: rgba(238, 238, 238, 1);
  nav {
    top: 47px;
    width: 45px;
    left: -45px;
    height: 105px;
    overflow: hidden;
    position: absolute;
    display: inline-block;
  }
  .product-right-nav {
    right: -3px;
    height: 100%;
    position: relative;
    li {
      height: 49%;
      cursor: pointer;
      overflow: hidden;
      margin-bottom: 1%;
      @include radius();
      background-color: rgba(238, 91, 94, 1);
    }
    span {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }

  .product-right-c1 {
    @include default_bgimg("../images/background-1.png", -1052px -392px);
  }

  .product-right-c2 {
    @include default_bgimg("../images/background-1.png", -1012px -392px);
    background-color: #eeeeee;
  }

  .product-right-d1 {
    @include default_bgimg("../images/background-1.png", -1012px -440px);
    background-color: #eeeeee;
  }

  .product-right-d2 {
    @include default_bgimg("../images/background-1.png", -1052px -440px);
  }
}

/*---------------------------------------------------
 *  product 右侧公共头部样式
 *---------------------------------------------------*/
.product-discuss {
  padding: 45px 30px 0 26px;
  box-sizing: border-box;
}

.product-discuss {
  header, .product-commit-input, .product-commit-ulimg {
    z-index: 80;
  }

  header {
    @include font_layout();
    h3 {
      right: 0;
      top: -10px;
      width: 170px;
      height: 100%;
      position: absolute;
      @include default_bgimg("../images/background-1.png", -1011px -63px);
    }
  }

  &:after, ul, header {
    @extend .container;
  }
}

.product-discuss-share1{
  textarea{
    width: 285px!important;
  }
}

/*---------------------------------------------------
 *  product 右边公共样式部分
 *---------------------------------------------------*/
.product-onspit-input,
.product-spits-input,
.product-question-input,
.product-questions-input,
.product-comment-input,
.product-share1-input,
.product-commit-input {
  width: 100%;
  height: 70px;
  position: relative;
  margin: 5px 0 10px 0;
  display: inline-block;
}

.product-onspit-input span,
.product-spits-input span,
.product-question-input span,
.product-questions-input span,
.product-commit-input span,
.product-share1-input > span,
.product-comment-input > ul {
  left: 0;
  top: -15px;
  color: #ee5b5e;
  text-indent: 2px;
  position: absolute;
}

.product-onspit-input > textarea,
.product-spits-input > textarea,
.product-question-input > textarea,
.product-questions-input > textarea,
.product-share1-input > textarea,
.product-commit-input > textarea,
.product-comment-input > textarea {
  @include product_textarea();
}

.product-onspit-input .product-onspit-si,
.product-spits-input .product-spits-si,
.product-question-input .product-question-si,
.product-questions-input .product-questions-si,
.product-share1-input .product-share1-si,
.product-comment-input .product-comment-img,
.product-commit-input .product-discuss-si,
.product-comment-input .product-comment-si {
  top: 0;
  right: 0;
  width: 40px;
  height: 62px;
  position: absolute;
}

.product-onspit-input .product-onspit-si .product-onspit-font,
.product-spits-input .product-spits-si .product-spits-font,
.product-question-input .product-question-si .product-question-font,
.product-questions-input .product-questions-si .product-questions-font,
.product-commit-input .product-discuss-si .product-add-font,
.product-comment-input .product-comment-si .product-comment-font {
  width: 100%;
  height: 62px;
  color: #BDB2B2;
  cursor: pointer;
  font-size: 1.3em;
  line-height: 62px;
  @include radius();
  text-align: center;
  background-color: #fff;
  @include element_vertical_middle;
}

.product-discuss-onspit > footer,
.product-discuss-spits > footer,
.product-discuss-question > footer,
.product-discuss-questions > footer,
.product-discuss-share1 > footer {
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  &:after {
    @include up_superscript(50%, -6px, 5px, #000);
  }
}

.product-comment-share > footer,
.product-comment-spit > footer,
.product-comment-questions > footer {
  @include product-layout5-footer();
}

.product-question-details aside footer,
.product-onspit-details aside footer,
.product-spits-details aside footer,
.product-questions-details aside footer {
  right: 0;
  bottom: 2px;
  position: absolute;
  display: inline-block;
  color: $default_input_font_color;
}

/*
 * 滑动门隐藏滑动
 */
.product-spits-details,
.product-commit-details,
.product-share1-details,
.product-onspit-details,
.product-question-details,
.product-questions-details {
  width: 350px;
  height: 465px;
  overflow: hidden;
  position: relative;
  ul {
    width: 340px;
    height: auto;
    position: absolute;
    //    overflow-y: scroll;
  }
}

.product-comment-img{
  text-align: right;
}

//input 右边图片发送
.product-comment-img,
.product-share1-si {
  cursor: pointer;
  padding-left: 4px;
  width: 55px !important;
  .product-img,
  .product-no-img{
    width: 50px;
    height: 50px;
    display: inline-block;
    ul{
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    li{
      width: 23px;
      float: left;
      color: #ccc;
      height: 23px;
      font-size: 2em;
      line-height: 23px;
      text-align: center;
      margin: 1px 0 0 1px;
      display: inline-block;
      box-sizing: border-box;
      box-shadow: $default_box_shadow1;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  .product-send-msg {
    width: 50px;
    color: #B3B0B0;
    font-size: 1em;
    text-align: center;
    display: inline-block;
    background-color: #fff;

  }
}

/*---------------------------------------------------
 *  product 右边回答
 *---------------------------------------------------*/
.product-question-details {
  li {
    height: auto;
    padding: 4px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: $product-margin-bottom;
    @include product_li_style();
    aside {
      height: 100%;
      position: relative;
      padding-bottom: 30px;
      @include product_aside_style();
    }
    p {
      margin-top: 10px;
      font-size: $product-p-font-size;
    }
  }
  li:first-child {
    h2 {
      font-size: 1.2em;
      font-weight: bold;
      color: $default_input_font_color;
    }
  }
  time {
    @include product_time_position;
    color: $default_input_font_color;
  }
  h2 {
    font-size: 1.1em;
    font-weight: bold;
  }
  img {
    width: 43px;
    height: 43px;
  }
  img, aside {
    float: left;
  }
}

/*---------------------------------------------------
 *  product 右边吐槽详情
 *---------------------------------------------------*/
.product-onspit-details {
  li {
    height: 90px;
    padding: 4px;
    box-sizing: border-box;
    margin-bottom: $product-margin-bottom;
    @include product_li_style();
    aside {
      height: 100%;
      position: relative;
      @include product_aside_style();
    }
    p {
      margin-top: 10px;
      font-size: 1.3em;
      line-height: 1.2;
    }
  }
  li:first-child {
    height: 110px;
    h2 {
      font-size: 1.2em;
      font-weight: bold;
      color: $default_input_font_color;
    }
  }
  time {
    top: 0;
    right: 0;
    color: #989898;
    position: absolute;
  }
  h2 {
    font-size: 1.1em;
    font-weight: bold;
    color: $default_input_font_color;
  }
  img {
    width: 43px;
    height: 43px;
  }
  img, aside {
    float: left;
  }
}

/*---------------------------------------------------
 *  product 右边吐槽列表
 *---------------------------------------------------*/
.product-spits-details {
  li {
    padding: 5px;
    box-sizing: border-box;
    height: $product-li-height;
    margin-bottom: $product-margin-bottom;
    @include product_li_style();
    aside {
      height: 100%;
      cursor: pointer;
      position: relative;
      @include product_aside_style();
    }
    p {
      margin-top: 10px;
      font-size: $product-p-font-size;
    }
  }
  h2 {
    font-size: 1.1em;
    font-weight: bold;
    position: relative;
    color: $default_input_font_color;
  }
  time {
    color: #989898;
    font-size: 0.9em;
    font-weight: normal;
    @include product_time_position;
  }
  img {
    width: 43px;
    height: 43px;
  }
  img, aside {
    float: left;
  }
}

/*---------------------------------------------------
 *  product 右边提问列表
 *---------------------------------------------------*/
.product-questions-details {
  li {
    padding: 5px;
    box-sizing: border-box;
    height: $product-li-height;
    @include product_li_style();
    margin-bottom: $product-margin-bottom;
    aside {
      height: 100%;
      cursor: pointer;
      position: relative;
      box-sizing: border-box;
      @include product_aside_style();
    }
    p {
      margin-top: 10px;
      font-size: $product-p-font-size;
    }
  }
  h2 {
    font-size: 1.1em;
    font-weight: bold;
    color: $default_input_font_color;
  }
  img {
    width: 43px;
    height: 43px;
  }
  img, aside {
    float: left;
  }
}

/*---------------------------------------------------
 *  product 右边讨论分享列表
 *---------------------------------------------------*/
.product-share1-details {
  li {
    padding: 5px;
    height: 80px;
    overflow: hidden;
    @include radius(3px);
    @include product_li_style();
    margin-bottom: $product-margin-bottom;
    .product-share1-centext, img {
      float: left;
    }
    > img {
      width: 80px;
      height: 80px;
      cursor: pointer;
      @include radius(3px);
    }
  }
}

.product-share1-centext {
  height: 100%;
  aside {
    height: 100%;
    width: 187px;
    height: 100%;
    margin: 0 9px;
    position: relative;
    box-sizing: border-box;
  }
  aside, img {
    float: left;
  }
  img {
    width: 43px;
    height: 43px;
  }
  h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
    color: $default_input_font_color;
  }
  p {
    font-size: $default_font_size1;
  }
  footer {
    bottom: 0;
    right: 5px;
    position: absolute;
  }
}

/*---------------------------------------------------
 *  product 右边讨论首显示
 *---------------------------------------------------*/
.product-comment-input {
  > ul {
    z-index: 88;
    > li {
      float: left;
      cursor: pointer;
      margin-left: 5px;
      color: rgba(0, 0, 0, 0.5);
      font-size: $default_font_size2;
    }
  }
  .product-comment-ishare {
    width: 290px !important;
  }
}

.product-comment-li-select {
  color: #ee5b5e !important;
}

.product-comment-share {
  @include product-layout2-share();
  li:nth-of-type(2n){
    margin-right: 0;
  }
}

.product-comment-questions {
  @include product-layout3-question();
}

.product-comment-spit {
  @include product-layout4-spit();
}

/*---------------------------------------------------
 *  product 右侧评论美食分享
 *---------------------------------------------------*/
.product-commit-ulimg {
  overflow: hidden;
  width: 100% !important;
  position: relative !important;
  margin-bottom: 10px !important;
  display: inline-block !important;
  li:first-child {
    margin-left: $product-margin-left;
  }
  li {
    width: 77px;
    float: left;
    opacity: 0.6;
    margin: 0 2px 2px 2px;
    padding-left: 0 !important;
    box-shadow: none !important;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &:after {
    @extend .container;
  }

  /**
  * 加向上的小箭头
  */
  .product-discuss-select {
    opacity: 1;
    position: relative;
    &:after {
      @include up_superscript(50%, 0px);
    }
  }
}

/**
 * 评论列表
 */
.product-commit-details {
  height: 477px;
  padding-bottom: 30px;
  .product-discuss-detainfo {
    > li {
      box-sizing: border-box;
      padding: $product-margin-left 0 15px 0;
      @include product_li_style();
      margin-bottom: $product-margin-bottom;
    }
  }
  //  height: 377px;
  .product-details-name,
  .product-details-userimg {
    float: left;
  }

  .product-details-userimg {
    width: 43px;
    height: 100%;
    display: inline-block;
    margin-left: $product-margin-left;
    img {
      width: 43px;
      height: 43px;
    }
  }

  .product-details-name {
    width: 280px;
    padding-left: 5px;
    position: relative;
    box-sizing: border-box;
    @include product_aside_style();
    h2 {
      color: #545252;
      font-size: 1.1em;
      font-weight: bold;
    }
    time {
      @include product_time_position;
      color: $default_input_font_color;
    }
    p {
      margin-top: 10px;
      font-size: $product-p-font-size;
    }
  }

  &:after, li, .product-details-userimg {
    @extend .container;
  }
  .product-discuss-detainfo {
    width: 97%;
    height: auto;
  }

  > div {
    width: 346px;
    height: 460px;
    overflow: hidden;
    position: relative;
  }

  > footer {
    height: 15%;
    width: 100%;
    font-size: 1em;
    cursor: pointer;
    padding-top: 7px;
    text-align: center;
    box-sizing: border-box;
    h2 {
      position: relative;
      &:after {
        @include up_superscript(50%, -8px, 7px, #000);
      }
    }
  }
}

/**
 * 第一个评论LI
 */
.product-discuss-header {
  width: 100%;
  height: auto;
  box-shadow: inherit;
  background-color: #fff;
  margin-bottom: 12px !important;
  @include product_li_style();
  .product-details-name {
    padding-bottom: 25px;
    h2 {
      font-size: 1.2em;
      color: $default_input_font_color;
    }
    p {
      margin-top: 15px;
      font-size: $product-p-font-size;
    }
  }
  footer {
    right: 0;
    bottom: -9px;
    font-size: 0.9em;
    position: absolute;
    display: inline-block;
    div {
      float: left;
      color: $default_input_font_color;
    }
    &:after {
      @include up_superscript();
    }
  }
}

/*---------------------------------------------------
 *  product 右侧内容样式
 *---------------------------------------------------*/
.product-context-fun,
.product-context-intro,
.product-context-material {
  top: -15px;
  position: relative;
}

.product-context-intro h2,
.product-context-fun h2 {
  font-size: 1.6em;
  letter-spacing: 1px;
}

.product-context-intro {
  > p {
    @include product_p;
  }
}

.product-context-material {
  @include radius(3px);
  padding: 1em !important;
  box-sizing: border-box;
  background-color: #ddd;
  box-shadow: $default_box_shadow;
  li {
    padding: 5px 0 4px 0;
    h3 {
      font-size: 1.4em;
      font-weight: bold;
    }
    p {
      font-size: $default_font_size1;
    }
  }
}

.product-context-fun {
  margin-top: 15px;
  overflow: hidden;
  div {
    width: 110%;
    height: 20px;
    position: relative;
    margin-bottom: 10px;
  }
  span {
    top: 0;
    bottom: 0;
    width: 70%;
    height: 1px;
    margin: auto 0;
    position: absolute;
    background-color: rgb(163, 163, 163);
  }
  h2 {
    margin-right: 10px;
  }
  h2, span {
    float: left;
    display: inline-block;
  }
  p {
    @include product_p;
  }
  &:after, h2, span, p {
    @extend .container;
  }
}