@mixin lr_superscript($super: right) {
  top: 0;
  bottom: 0;
  height: 0px;
  margin: auto 0;
  position: absolute;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-#{$super}: 10px solid #837777;
}

@mixin shopping_footer($height:60px,$line_height:60px){
    height: $height;
    position: relative;
    h3 {
      right: 130px;
      width: 300px;
      font-size: 1.6em;
      font-weight: bold;
      line-height: $line_height;
      position: absolute;
      display: inline-block;
    }
    span {
      margin-left: 10px;
    }
    .shopping-count {
      margin-right: 83px;
    }
}

.shopping-container {
  @include page-header(-786px, -690px);
  > header {
    left: 0;
  }
}

.shopping-info header,
.shopping-info-ul {
  &:after {
    @extend .container;
  }
}

.shopping-info-ul {
  li {
    height: 95px;
    padding: 0 20px;
  }
}

.shopping-one {
  overflow: hidden;
  border-bottom: 1px solid #eee;
  li {
    line-height: 95px;
    position: relative;
    display: inline-block;
  }
  .shopping-pro-title,
  .shopping-pro-count,
  .shopping-pro-price,
  .shopping-pro-options,
  .shopping-one-pro-price {
    float: left;
    width: 74px;
  }
  .shopping-pro-price {
    font-size: 1.7em;
    text-align: center;
  }

  .shopping-pro-title {
    width: 362px;
    box-sizing: border-box;
    img {
      width: 55px;
      height: 55px;
      margin-left: 5px;
      vertical-align: middle;
    }
    h3 {
      cursor: pointer;
      font-weight: bold;
      margin-left: 20px;
      display: inline-block;
      font-size: $default_font_size4;
    }
  }
  .shopping-pro-count {
    text-align: center;
    input {
      width: 37px;
      height: 23px;
      font-size: 1.4em;
      text-align: center;
      margin: 0 2px 0 12px;
    }
    .shopping-count-left {
      @include lr_superscript();
      cursor: pointer;
    }
    .shopping-count-right {
      @include lr_superscript(left);
      cursor: pointer;
    }
  }
  .shopping-one-pro-price {
    font-size: 1.7em;
    text-align: center;
  }

  .shopping-pro-options {
    height: 95px;
    overflow: hidden;
    line-height: 1;
    > div {
      height: 50px;
      @include element_vertical_middle();
    }
    .shopping-one-add,
    .shopping-one-updated,
    .shopping-one-delete {
      height: 20px;
      display: block;
      color: #AEA8A8;
      cursor: pointer;
      font-size: 1.2em;
      line-height: 20px;
      text-align: center;
    }
    .shopping-one-updated{
      color: $default_background_color1;
    }
  }
}

.shopping-info-empty {
  height: 95px;
  width: 215px;
  margin: 0 auto;
  position: relative;
  padding: 0 !important;
  height: 135px !important;
  @include default_bgimg("../images/background-1.png", -988px -633px);
  a {
    width: 100px;
    height: 30px;
    @include element_vertical_middle();
    bottom: 12px;
    top: inherit;
    font-size: 1.4em;
    line-height: 30px;
    @include radius();
    text-align: center;
    letter-spacing: 2px;
    color: rgb(218, 96, 96);
    border: 2px solid rgb(231, 169, 169);
  }
}

.shopping-info,
.shopping-finish,
.shopping-recommend {
  @include horizontal-page-width();
}

.shopping-info-title {
  > li {
    float: left;
    font-size: 1.2em;
    margin-right: 90px;
  }
}

.shopping-info {
  margin-top: 100px;
  background-color: #fff;
  header {
    height: 18px;
    padding: 5px;
    overflow: hidden;
    position: relative;
    background-color: #ddd;
    input, span, ul {
      float: left;
      line-height: 18px;
    }
    input {
      @include element_vertical_middle();
      right: inherit;
      left: 3px;
    }
    ul {
      margin-left: 295px;
    }
    span {
      width: 114px;
      height: 18px;
      margin-left: 16px;
      @include default_bgimg("../images/background-1.png", -800px -799px);
    }
    &:after, span, input, ul {
      @extend .container;
    }
  }
  footer {
    @include shopping_footer();
  }
}

.shopping-finish {
  height: 45px;
  padding: 7px 0;
  position: relative;
  box-sizing: border-box;
  a {
    width: 110px;
    height: 100%;
    float: right;
    font-size: 1.6em;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    margin: 10px 15px 0 0;
    color: rgb(142, 141, 141);
    border: 1px solid rgb(142, 141, 141);
    @include radius(4px);
  }
}

.shopping-recommend {
  margin-top: 50px;
  margin-bottom: 50px;
  > span {
    width: 207px;
    height: 25px;
    display: inline-block;
    @include default_bgimg("../images/background-1.png", -1203px -17px);
  }
  ul {
    li {
      float: left;
      width: 170px;
      height: 100%;
      background-color: #ffffff;
    }
    &:after {
      @extend .container;
    }
  }
  h3 {
    position: relative;
    img {
      width: 100%;
    }
    span {
      right: 10px;
      color: #fff;
      bottom: 10px;
      font-weight: 600;
      position: absolute;
    }
  }
  li {
    cursor: pointer;
    margin-left: 25px;
    box-shadow: $default_box_shadow;

  }
  li:first-child {
    margin-left: 0;
  }
  li > div {
    width: 100%;
    height: 85px;
    padding: 10px;
    box-sizing: border-box;
  }
  h2 {
    height: 17px;
    font-size: 1.4em;
    font-weight: bold;
  }
  p {
    height: 48px;
    color: #B0B0B0;
    padding-top: 5px;
    text-overflow: ellipsis;
    font-size: $default_font_size3;
  }
}

.shopping-shade-context{
  header{
    height: 18px;
    overflow: hidden;
    position: relative;
    background-color: #ddd;
    h2,input{
      float: left;
    }
    h2{

    }
    span{
      width: 114px;
      height: 18px;
      margin-left: 16px;
      display: inline-block;
      @include default_bgimg("../images/background-1.png", -800px -799px);
    }
    h3{
      top: 0;
      right: 0;
      width: 18px;
      color: #fff;
      height: 18px;
      text-align: center;
      position: absolute;
      line-height: 18px;
      background-color: #6F6F6F;
    }
  }

  .shopping-info-title{
    height: 18px;
    overflow: hidden;
    margin-left: 388px;
    li{
      height: 100%;
      font-width: 700;
      line-height: 18px;
    }
  }
}

.shopping-shade-info{
    height: 85%;
  .shopping-shade-group{
    height: 95%;
    overflow-y: auto;
  }

  > footer {
    @include shopping_footer(45px,45px);
  }
  .shopping-pro-title{
    padding-left: 100px;
  }
  .shopping-pro-count{
    margin-left: 38px;
  }
  .shopping-one-pro-price{
    margin-left: 45px;
  }
  .shopping-pro-options{
    margin-left: 45px;
  }
}