.toeat-container {
  @include page-header();
  section {
    @include horizontal-page-width(1000px);
    margin-top: 50px;
  }
  margin-bottom: 50px;
}

.toeat-context {
  header{
    > h2 {
      height: 30px;
      width: 190px;
      display: inline-block;
      @include default_bgimg("../images/background-1.png", -1205px -11px);
    }
    > h2, .toeat-type {
      float: left;
    }
    &:after, .toeat-type, h2, .toeat-info {
      @extend .container;
    }
    .toeat-type {
      float: right;
      height: 30px;
      position: relative;
    }
  }
  .toeat-type{
    li{
      float: left;
      width: 60px;
      height: 100%;
      color: #E8E8E8;
      cursor:pointer;
      font-size: 1.2em;
      line-height: 30px;
      padding-left: 2px;
      text-align: center;
      letter-spacing: 2px;
      background-color: #848484;
    }
    li:first-child:before{
      border-bottom-color: rgba(1,1,1,0);
    }
    li:last-child:after{
      border-top-color: rgba(1,1,1,0);
    }
    a{
      color: inherit;
    }
  }
}

.toeat-types{
  @include place_ul1();
}

.toeat-type-active{
  position: relative;
  color: #848484!important;
  background-color: #ddd!important;
  &:before{
    @include left_superscript(-6px,6px,30px,#ddd);
  }
  &:after{
    @include right_superscript();
  }
}

.toeat-info{
  padding: 20px;
  box-sizing: border-box;
  background-color: #ddd;
  li{
    float: left;
    width: 180px;
    margin-right: 14px;
    display: inline-block;
  }
  li:nth-of-type(5n){
    margin-right: 0;
  }
  li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5){
    margin-bottom: 50px;
  }
  &:after{
    @extend .container;
  }
  header{
    width: 180px;
    height: 151px;
    position: relative;
    img{
      width: 100%;
      height: 100%;
    }
    span{
      right: 10px;
      bottom: 8px;
      color: #fff;
      position: absolute;
      letter-spacing: 1px;
    }
  }
  aside{
    height: 85px;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
    h2{
      font-size: 1.4em;
      margin-bottom: 2px;
    }
    p{
      height: 50px;
      color: #B2ADAD;
      font-size: 1.2em;
      overflow: hidden;
    }
  }
}

.toeat-section {
  .toeat-search {
    @include common_input(-111px, -14px, 0, 23px, 220px);
  }
  > header {
    position: relative;
    margin-bottom: 20px;
    .toeat-search, .toeat-types, footer {
      float: left;
    }
    .toeat-types, footer {
      float: right;
    }
    footer {
      @include want_to_eat();
    }
    &:after, .toeat-search, .toeat-types, footer {
      @extend .container;
    }
  }
}
